Q1. What are data structures, and why are they important?

Ans. What Are Data Structures?

Data structures are specialized formats for organizing, storing, and managing data efficiently. They define how data is arranged in memory, how it can be accessed, and how operations like insertion, deletion, and searching are performed.

Why Are Data Structures Important?

1. Efficient Data Management – They enable efficient data storage and retrieval, optimizing performance.
2. Improved Algorithm Efficiency – The choice of data structure affects the speed and efficiency of algorithms.
3. Memory Optimization – They help in using memory effectively by reducing redundancy and overhead.
4. Problem Solving – Many real-world problems, like network routing, database indexing, and AI modeling, rely on data structures.
5. Scalability – Proper data structures allow applications to handle large volumes of data smoothly.

Q2.  Explain the difference between mutable and immutable data types with examples?

Ans.  In programming, mutability refers to whether an object's value can be changed after it is created.

1. Mutable Data Types

    Mutable objects can be modified after their creation without changing their identity (memory address).

    These objects allow in-place modification.
Examples in Python
Lists (Mutable)

In [ ]:
my_list = [1, 2, 3]
my_list[0] = 10  # Modifying the first element
print(my_list)  # Output: [10, 2, 3]

[10, 2, 3]

Dictionaries (Mutable)

In [ ]:
my_dict = {"name": "Alice", "age": 25}
my_dict["age"] = 26  # Modifying the value
print(my_dict)  # Output: {'name': 'Alice', 'age': 26}

{'name': 'Alice', 'age': 26}

Sets (Mutable)

In [ ]:
my_set = {1, 2, 3}
my_set.add(4)  # Adding an element
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

2. Immutable Data Types

  Immutable objects cannot be changed after they are created.

  Any modification results in the creation of a new object.

Examples in Python

Strings (Immutable)

In [ ]:
my_str = "hello"
my_str = my_str + " world"  # Creates a new string
print(my_str)  # Output: 'hello world'

hello world

Tuples (Immutable)

In [ ]:
my_tuple = (1, 2, 3)
# my_tuple[0] = 10  # This would raise a TypeError

Integers, Floats, Booleans (Immutable)

In [ ]:
a = 5
a = a + 1  # Creates a new integer object
print(a)  # Output: 6

6

Q3. What are the main differences between lists and tuples in Python?

Ans. In Python, lists and tuples are both used to store collections of items, but they have some key differences:

1. Mutability:

    Lists are mutable, meaning their elements can be changed, added, or removed after creation.

    Tuples are immutable, meaning they cannot be modified after creation.

2. Syntax:

    Lists are created using square brackets: my_list = [1, 2, 3]

    Tuples are created using parentheses: my_tuple = (1, 2, 3)

3. Performance:

    Tuples are generally faster than lists because they are immutable, making them more efficient in terms of memory and processing speed.

    Lists are slower because they require extra memory for dynamic resizing.

4. Usage Scenarios:

    Lists are used when you need a dynamic collection where elements might be added, removed, or modified.

    Tuples are used when you want to ensure the data remains constant, such as coordinates, database records, or function return values.

5. Memory Consumption:

    Tuples consume less memory than lists because they have a smaller overhead due to their immutability.

6. Methods:

    Lists have more built-in methods like .append(), .remove(), and .sort() because they are mutable.

    Tuples have only two main methods: .count() (to count occurrences of a value) and .index() (to find the index of a value).

7. Safety:

    Since tuples are immutable, they help prevent accidental modifications, making them useful for read-only data.

Q4. Describe how dictionaries store data?

Ans. Dictionaries in Python store data using a hash table structure, which allows for fast lookups, insertions, and deletions. Here’s how they work internally:

1. Key-Value Pairs

    A dictionary consists of keys and their associated values, stored in an unordered manner. Each key must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any data type.

In [ ]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}

2. Hashing and Storage

    When a key-value pair is added, Python computes a hash value for the key using a hashing algorithm (hash() function).

    This hash value determines the index where the key-value pair will be stored in the underlying array.

    If two different keys produce the same hash (a rare case called a hash collision), Python uses techniques like open addressing or chaining to resolve it.
3. Fast Lookup

    Dictionaries provide O(1) average-time complexity for accessing values using keys because they don’t require searching sequentially (as in lists).

    Instead, Python computes the hash of the key and directly jumps to the memory location where the value is stored.

In [ ]:
print(my_dict["age"])  # Directly retrieves value in constant time

25

4. Dynamic Resizing

    As more key-value pairs are added, Python dynamically resizes the underlying storage to maintain efficiency.

    This involves creating a larger hash table and rehashing existing entries.
5. Handling Collisions

    Python’s dictionary implementation (as of Python 3.6+) ensures that keys retain their insertion order while maintaining efficiency.

    If two keys end up with the same hash value, Python handles this via probing (finding an alternative empty slot) or chaining (storing multiple values in a linked list at the same index).

Example of Dictionary Operations:

In [ ]:
# Creating a dictionary
student = {"name": "John", "age": 21, "course": "Computer Science"}

# Adding a new key-value pair
student["grade"] = "A"

# Accessing a value
print(student["name"])  # Output: John

# Removing a key
del student["age"]

# Checking existence
print("age" in student)  # Output: False

John
False

Q5. Why might you use a set instead of a list in Python?

Ans. You might use a set instead of a list in Python when you need fast membership checks and unique elements. Here are some key reasons why a set might be a better choice than a list:

1. Ensuring Uniqueness

    A set automatically removes duplicate values, whereas a list allows duplicates.

Example:

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]
my_set = set(my_list)  # {1, 2, 3, 4, 5}

2. Faster Membership Checks (O(1) vs. O(n))

    Checking if an item exists in a set is much faster (O(1)) compared to a list (O(n)).
Example:

In [ ]:
my_list = [i for i in range(1000000)]
my_set = set(my_list)

print(999999 in my_list)  # Slow (O(n))
print(999999 in my_set)   # Fast (O(1))

True
True

3. Faster Set Operations

    Union (|), intersection (&), and difference (-) are much faster in sets compared to lists.

Example:

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

print(set1 & set2)  # Intersection -> {3, 4}
print(set1 | set2)  # Union -> {1, 2, 3, 4, 5, 6}
print(set1 - set2)  # Difference -> {1, 2}

{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2}

4. Eliminating Duplicates Efficiently

    Converting a list to a set is an easy way to remove duplicates:

In [ ]:
numbers = [1, 2, 3, 1, 2, 4]
unique_numbers = list(set(numbers))  # [1, 2, 3, 4]

Q6. What is a string in Python, and how is it different from a list?

Ans. What is a String in Python?

A string in Python is a sequence of characters enclosed in single ('), double ("), or triple quotes (''' or """). It is used to represent textual data.

In [ ]:
my_string = "Hello, World!"

How is a String Different from a List?

Feature	                    String (str)	                    List (list)

1. Data Type
      a. String (str) :   Sequence of characters	      
      b. List (list):   Sequence of any data type(numbers, strings, objects, etc.)
2. Mutability	       
      a. String (str): Immutable (cannot be changed, modified after creation) 	   
      b. List (list):  Mutable (elements can be added, or removed)

3. Indexing	      
      a. String (str): Supports indexing (s[0] for first character)
      
      b. List (list): Supports indexing (lst[0] for first element)

4. Iteration	      
      a. String (str): Can be iterated characterby character 	  
      b. List (list): Can be iterated element by element
                

5. Operations	    
      a. String (str): Supports concatenation (+), repetition (*), and slicing ([:])
     
      b. List (list): Supports similar operations, but with different behaviors

6. Methods
      a. String (str): Has many string-specific methods (.upper(), .lower(), .replace())
      b. List (list): Has list-specific methods (.append(), .remove(), .sort())
7. Memory Usage
      a. String (str): More memory-efficient for storing text
      b. List (list): Can be larger if storing multiple data types

Q7. How do tuples ensure data integrity in Python?

Ans. Tuples ensure data integrity primarily through immutability and hashability. Here’s how:

1. Immutability (Prevents Accidental Changes)
    
    Tuples are immutable, meaning their elements cannot be modified, added, or removed after creation.

    This ensures that data remains unchanged throughout the program, preventing accidental modifications.
2. Hashability (Supports Data Integrity in Sets & Dict Keys)

    Since tuples are hashable (if they contain only hashable elements), they can be used as dictionary keys or stored in sets.

    Lists, being mutable, cannot be hashed and would cause integrity issues if changed while being used as a key.
3. Predictable & Safe Data Passing

    Since tuples cannot be modified, they are safer to use when passing data between functions or threads.

    This prevents side effects, ensuring that a function doesn’t accidentally alter the original data.
4. Ordered & Reliable Structure

    Tuples maintain their insertion order, unlike sets.

    This guarantees that the sequence of data remains the same, which is crucial for consistent results.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

Ans. A hash table (or hash map) is a data structure that stores key-value pairs using a hashing function to quickly locate values. It provides fast lookups, insertions, and deletions in O(1) average time complexity.

In Python, dictionaries (dict) are implemented using hash tables, making them incredibly efficient for key-based lookups.

Key Properties of Python Dictionaries:

    1. Fast Lookups (O(1)) → Retrieving dict["key"] is much faster than searching in a list (O(n)).

    2. Uniqueness of Keys → Each key must be unique; duplicate keys overwrite previous values.

    3. Order Retention (since Python 3.7) → Keys retain their insertion order.

    4. Immutable Keys Only → Keys must be hashable (e.g., strings, numbers, tuples), but lists and dictionaries cannot be used as keys.
Example of a Python Dictionary Using a Hash Table

In [ ]:
# Creating a dictionary
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

# Retrieving a value (O(1) time complexity)
print(my_dict["name"])  # Output: Alice

# Adding a new key-value pair (O(1))
my_dict["job"] = "Engineer"

# Deleting a key (O(1))
del my_dict["age"]

Alice

Q9. Can lists contain different data types in Python?

Ans.  Yes! Lists in Python can contain different data types because Python is dynamically typed. This means you can mix and match integers, strings, floats, booleans, other lists, dictionaries, tuples, objects, and more within the same list.

Example: Mixed Data Types in a List

In [ ]:
my_list = [42, "hello", 3.14, True, [1, 2, 3], {"key": "value"}, (5, 6)]
print(my_list)

[42, 'hello', 3.14, True, [1, 2, 3], {'key': 'value'}, (5, 6)]

Q10. Explain why strings are immutable in Python?

Ans. Strings in Python are immutable, meaning they cannot be changed after creation. Any operation that appears to modify a string actually creates a new string instead of modifying the original one.

Reasons for String Immutability
1. Memory Efficiency (String Interning)
    Python interns some strings (especially short and commonly used ones) to save memory and improve performance.

    If strings were mutable, modifying one reference would affect all others pointing to the same string.
Example: String Interning

In [ ]:
a = "hello"
b = "hello"
print(a is b)  # True (both refer to the same memory location)

True

2. Hashability (Used as Dictionary Keys & Set Elements)
    
    Strings must be immutable to be hashable, allowing them to be used as keys in dictionaries and elements in sets.

Example: Strings as Dictionary Keys

In [ ]:
my_dict = {"name": "Alice", "age": 30}
print(my_dict["name"])  # "Alice"

Alice

3. Thread Safety

    Since strings cannot be changed, they are safe to use in multi-threaded programs without worrying about race conditions.

Example: Immutable Objects Prevent Side Effects

In [ ]:
def update_string(s):
    s += " world"  # Creates a new string instead of modifying the original

msg = "hello"
update_string(msg)
print(msg)  # "hello" (unchanged)

hello

4. Security & Predictability

    String immutability prevents accidental modifications, making programs more predictable and secure.

    For example, imagine using a string for passwords—immutability prevents unexpected changes.

Example: Strings Remain Unchanged

In [ ]:
password = "secure123"
# password[0] = "S"  # ❌ TypeError: 'str' object does not support item assignment

Q11. What advantages do dictionaries offer over lists for certain tasks?

Ans. Advantages of Dictionaries Over Lists in Python

Dictionaries (dict) are optimized for fast key-value lookups, while lists (list) are best for ordered collections of items. Here’s why dictionaries can be superior for certain tasks:

1. Fast Lookups (O(1) vs. O(n))

    Dictionaries use a hash table, making key-based lookups O(1) on average.

    Lists require a linear search (O(n)) when looking for a specific value.

 Example: Fast Dictionary Lookup vs. Slow List Search

In [ ]:
my_dict = {"apple": 100, "banana": 50, "orange": 75}
print(my_dict["banana"])  # ✅ O(1) → 50

my_list = [("apple", 100), ("banana", 50), ("orange", 75)]
for item in my_list:
    if item[0] == "banana":
        print(item[1])  # ❌ O(n) → 50

50
50

2. Meaningful Key-Value Pairing

    Dictionaries associate meaningful keys with values, making data more readable.

    Lists rely on positional indexing, which can be harder to interpret.

Example: Dictionary vs. List Storage

In [ ]:
# Dictionary (Easy to understand)
person = {"name": "Alice", "age": 30, "job": "Engineer"}

# List (Less readable)
person_list = ["Alice", 30, "Engineer"]

print(person["age"])  # ✅ More intuitive
# print(person_list[1])  # ❌ Requires knowing index positions

30

3. No Need for Manual Index Tracking

    Lists require you to remember index positions, while dictionaries allow access using descriptive keys.
  
4. Efficient Data Modification & Deletion

    Dictionaries allow direct modification & deletion by key (O(1)), while lists require searching (O(n)).

5. Prevents Duplicate Keys

    Lists allow duplicate values, but dictionaries enforce unique keys, preventing accidental overwrites.

Q12. Describe a scenario where using a tuple would be preferable over a list.

Ans.  Scenario Where a Tuple is Preferable Over a List

Scenario: Storing GPS Coordinates (Latitude & Longitude)

Imagine you’re developing a mapping application that needs to store fixed GPS coordinates for multiple cities. Since coordinates do not change, a tuple is the best choice.

Why Use a Tuple for GPS Coordinates?

1. Immutability Ensures Data Integrity

    A tuple prevents accidental modifications, ensuring that coordinates remain unchanged.

    Example: You wouldn't want the latitude of New York to be modified accidentally.
2. Faster Performance

    Tuples are faster than lists due to their fixed size.

    In large datasets, using tuples for immutable data saves memory and improves performance.

3. Hashability (Can Be Used as Dictionary Keys)

    Since tuples are hashable, they can be used as keys in dictionaries, allowing for quick lookups.

Example: Using Tuples for GPS Coordinates

In [ ]:
# Storing immutable GPS coordinates as tuples
new_york = (40.7128, -74.0060)
los_angeles = (34.0522, -118.2437)

# Dictionary mapping cities to their coordinates
city_coordinates = {
    "New York": (40.7128, -74.0060),
    "Los Angeles": (34.0522, -118.2437),
    "Chicago": (41.8781, -87.6298),
}

# Retrieving coordinates in O(1) time
print(city_coordinates["New York"])  # ✅ Output: (40.7128, -74.0060)

(40.7128, -74.006)

Q13. How do sets handle duplicate values in Python?

Ans. In Python, sets automatically remove duplicate values because they are unordered collections of unique elements. When you add duplicate values to a set, Python ignores the duplicates and only stores each unique value once.

Example: Removing Duplicates with a Set

In [ ]:
my_set = {1, 2, 3, 3, 4, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

How Does Python Prevent Duplicates?

    Sets use a hash table, which only stores unique elements.

    When you add an item, Python checks if it already exists using its hash value.

    If the item is already present, it is ignored instead of being added again.

Q14. How does the “in” keyword work differently for lists and dictionaries?

Ans. The in keyword is used to check for membership in both lists and dictionaries, but it behaves differently:

1. in with Lists (Checks for Values, O(n))

    When used with a list, in checks if a given value exists anywhere in the list.

    Time Complexity: O(n) (linear search), since Python scans each element one by one.

Example: Checking Membership in a List

In [ ]:
fruits = ["apple", "banana", "cherry"]
print("banana" in fruits)  # ✅ True
print("grape" in fruits)   # ❌ False

True
False

2. in with Dictionaries (Checks for Keys, O(1))

    When used with a dictionary, in checks only for keys, not values.

    Time Complexity: O(1) (constant time) due to the hash table implementation.

Example: Checking Membership in a Dictionary

In [ ]:
prices = {"apple": 100, "banana": 50, "cherry": 75}
print("banana" in prices)  # ✅ True (checks keys)
print(50 in prices)        # ❌ False (does NOT check values)

True
False

Q15. Can you modify the elements of a tuple? Explain why or why not.

Ans. No, we cannot modify the elements of a tuple because tuples in Python are immutable. Once a tuple is created, its elements cannot be changed, added, or removed.

Why Are Tuples Immutable?

1. Memory Efficiency & Performance

    Tuples are stored in a fixed memory location, making them faster than lists.

    Since they don’t change, Python optimizes their storage, improving performance.

2. Hashability (Can Be Used as Dictionary Keys)

    Tuples are hashable, meaning they can be used as keys in dictionaries or elements in sets.

    If they were mutable, their hash value could change, breaking dictionary lookups.

3. Data Integrity & Safety

    Immutability prevents accidental modifications, making them ideal for constant data like GPS coordinates or database records.

Example: Trying to Modify a Tuple (Throws an Error)

In [ ]:
my_tuple = (10, 20, 30)
my_tuple[1] = 50  # ❌ TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

Q16. What is a nested dictionary, and give an example of its use case?

Ans. A nested dictionary is a dictionary where one or more values are dictionaries themselves. This allows for hierarchical or structured data storage, similar to JSON.

Example Use Case: Storing Student Records

Imagine you're managing student data where each student has a name, age, and subjects with grades. Instead of using separate dictionaries, a nested dictionary organizes everything efficiently.

Example: Storing Student Records in a Nested Dictionary

In [ ]:
students = {
    "Alice": {
        "age": 20,
        "major": "Computer Science",
        "grades": {"Math": 90, "English": 85}
    },
    "Bob": {
        "age": 22,
        "major": "Physics",
        "grades": {"Math": 78, "Physics": 88}
    }
}

# Accessing Alice's major
print(students["Alice"]["major"])  # ✅ "Computer Science"

# Accessing Bob's Physics grade
print(students["Bob"]["grades"]["Physics"])  # ✅ 88

Computer Science
88

Q17. Describe the time complexity of accessing elements in a dictionary?

Ans.  Time Complexity of Accessing Elements in a Dictionary (dict) in Python

Average Case: O(1) (Constant Time)

    Python dictionaries use a hash table, allowing for fast key-based lookups.

    When you access an element using dict[key], Python hashes the key and directly retrieves the value.

    This makes lookups extremely fast, even for large dictionaries.

In [ ]:
my_dict = {"apple": 100, "banana": 50, "cherry": 75}
print(my_dict["banana"])  # ✅ O(1) lookup

50

Worst Case: O(n) (Linear Time, Rare Case)

    In rare cases, if there are too many hash collisions, Python may need to search multiple entries, making lookups degrade to O(n).

    However, Python dynamically resizes and optimizes hash tables, so this happens very rarely.

In [ ]:
# If all keys hash to the same value (unlikely), search could be O(n)

Q18. In what situations are lists preferred over dictionaries?

Ans.  When Are Lists Preferred Over Dictionaries in Python?

While dictionaries (dict) offer fast lookups (O(1)), lists (list) are better in certain situations where ordering, simplicity, or memory efficiency matter.

1. When Order Matters (Lists Maintain Order, Dicts Before Python 3.7 Didn't)

    Lists maintain the order of elements by default.

    While Python 3.7+ dictionaries also preserve insertion order, lists are still better for ordered sequences.

Example: Keeping Track of Recent Transactions

In [ ]:
transactions = ["Buy Apple", "Sell Tesla", "Buy Bitcoin"]
print(transactions[0])  # ✅ First transaction: "Buy Apple"

Buy Apple

2.  When You Need Index-Based Access (O(1))

    Lists allow direct access by index (list[index]), while dictionaries require key-based access (dict[key]).

    If sequential numeric indexing is needed, a list is better.

Example: Managing a Queue of Tasks

In [ ]:
tasks = ["email", "meeting", "lunch"]
print(tasks[1])  # ✅ "meeting" (index lookup is O(1))

meeting

3. When You Need Less Memory

    Dictionaries store extra metadata (hash tables, key-value pairs), consuming more memory than lists.

    If memory usage is a concern, lists are more efficient.

Example: Storing a Million Numbers Efficiently

In [ ]:
numbers = list(range(1_000_000))  # ✅ Uses less memory than a dictionary

4. When Elements Don’t Need Unique Keys

    Lists are useful when data doesn't require unique identifiers.

    If uniqueness isn't important, using a dictionary would be unnecessary overhead.

Example: Storing Student Names

In [ ]:
students = ["Alice", "Bob", "Charlie"]  # ✅ Simple list without key-value pairs

5. When Iteration Speed Matters (O(n), But Less Overhead Than Dicts)

    Iterating through a list of values is faster than iterating through a dictionary because there's less overhead.

Example: Processing a List of Scores

In [ ]:
scores = [85, 90, 78, 92]
for score in scores:
    print(score)  # ✅ Faster than iterating over dict.items()

85
90
78
92

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans. Why Are Dictionaries Considered Unordered in Python?

🔹 Before Python 3.7, dictionaries were unordered because they used a hash table to store key-value pairs, meaning the order of elements was not guaranteed.

🔹 Starting from Python 3.7+, dictionaries preserve insertion order, but they are still not truly "ordered" like lists because they use hashing instead of sequential storage.

How Does This Affect Data Retrieval?

1. Keys Are Not Stored Sequentially (Before Python 3.7)

    If you insert items in a dictionary, they won’t necessarily be retrieved in the same order.

Example (Before Python 3.7, output order was unpredictable):

In [ ]:
my_dict = {"banana": 1, "apple": 2, "cherry": 3}
print(my_dict)
# Output order may not be the same as insertion

{'banana': 1, 'apple': 2, 'cherry': 3}

2. Fast Lookups (O(1)) but No Indexing

Unlike lists, dictionaries do not support index-based access.

Example:

In [ ]:
my_dict = {"a": 10, "b": 20, "c": 30}
print(my_dict[1])  # ❌ TypeError: 'dict' object is not subscriptable

KeyError: 1

Instead, you must retrieve values using keys:

In [ ]:
print(my_dict["a"])  # ✅ 10

10

3.  Efficient Key-Based Retrieval

Since dictionaries rely on hash tables, retrieving a value using a key is fast (O(1)), regardless of the dictionary's size.

Q20P Explain the difference between a list and a dictionary in terms of data retrieval.

Ans. Difference Between Lists and Dictionaries in Terms of Data Retrieval![Screenshot 2025-02-26 105144.png]()

# Practical Questions

Q1. Write a code to create a string with your name and print it?

Ans.

In [ ]:
# Create a string with your name
name = "Md Asif Ali"

# Print the name
print(name)

Md Asif Ali

Q2.  Write a code to find the length of the string "Hello World"?

In [ ]:
# Define the string
text = "Hello World"

# Find the length of the string
length = len(text)

# Print the length
print("Length of the string:", length)

Length of the string: 11

Q3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
# Define the string
text = "Python Programming"

# Slice the first 3 characters
first_three = text[:3]

# Print the result
print("First 3 characters:", first_three)

First 3 characters: Pyt

Q4. Write a code to convert the string "hello" to uppercase.

In [ ]:
# Define the string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print("Uppercase:", uppercase_text)

Uppercase: HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
# Define the string
text = "I like apple"

# Replace "apple" with "orange"
new_text = text.replace("apple", "orange")

# Print the result
print(new_text)

I like orange

Q6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print(numbers)

[1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
# Define the list
numbers = [1, 2, 3, 4]

# Append 10 to the list
numbers.append(10)

# Print the updated list
print(numbers)

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
# Define the list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3
numbers.remove(3)

# Print the updated list
print(numbers)

[1, 2, 4, 5]

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the result
print("Second element:", second_element)

Second element: b

Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
# Define the list
numbers = [10, 20, 30, 40, 50]

# Reverse the list in place
numbers.reverse()

# Print the reversed list
print(numbers)

[50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
# Define the tuple
numbers = (100, 200, 300)

# Print the tuple
print(numbers)

(100, 200, 300)

Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element
second_to_last = colors[-2]

# Print the result
print("Second-to-last element:", second_to_last)

Second-to-last element: blue

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number
min_number = min(numbers)

# Print the result
print("Minimum number:", min_number)

Minimum number: 5

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
# Define the tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of "cat"
cat_index = animals.index('cat')

# Print the result
print("Index of 'cat':", cat_index)

Index of 'cat': 1

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
# Define the tuple with fruits
fruits = ('apple', 'banana', 'orange')

# Check if "kiwi" is in the tuple
is_kiwi_present = "kiwi" in fruits

# Print the result
print("Is 'kiwi' in the tuple?", is_kiwi_present)

Is 'kiwi' in the tuple? False

Q16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
# Define the set
my_set = {'a', 'b', 'c'}

# Print the set
print(my_set)

{'b', 'c', 'a'}

Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [55]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)  # Output: set()

set()

Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [56]:
my_set = {1, 2, 3, 4}
my_set.remove(4)  # Raises an error if 4 is not in the set
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}

Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [57]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Using union() method
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

# Using | operator
union_set = set1 | set2
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [58]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Using intersection() method
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {2, 3}

# Using & operator
intersection_set = set1 & set2
print(intersection_set)  # Output: {2, 3}

{2, 3}
{2, 3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [59]:
person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [60]:
person = {'name': 'John', 'age': 25}

# Adding a new key-value pair
person['country'] = 'USA'

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [61]:
person = {'name': 'Alice', 'age': 30}

# Using bracket notation
name_value = person['name']
print(name_value)  # Output: Alice

# Using get() method (safer, avoids KeyError if the key is missing)
name_value = person.get('name')
print(name_value)  # Output: Alice

Alice
Alice

Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [62]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Using del
del person['age']

# Using pop() (alternative method)
# person.pop('age')

print(person)

{'name': 'Bob', 'city': 'New York'}

Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [63]:
person = {'name': 'Alice', 'city': 'Paris'}

# Checking if "city" exists
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

Q26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [64]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = (10, 20, 30, 40, 50)

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Printing all of them
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).

In [67]:
import random

# Generate a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted List:", random_numbers)

Sorted List: [5, 6, 11, 78, 80]

Q28. Write a code to create a list with strings and print the element at the third index.

In [68]:
# Creating a list with strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Printing the element at the third index
print("Element at index 3:", my_list[3])

Element at index 3: date

Q29. Write a code to combine two dictionaries into one and print the result.

In [69]:
# Creating two dictionaries
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'country': 'USA'}

# Method 1: Using update()
combined_dict = dict1.copy()  # Make a copy to avoid modifying dict1
combined_dict.update(dict2)

print("Combined Dictionary (using update()):", combined_dict)

# Method 2: Using dictionary unpacking (Python 3.5+)
combined_dict2 = {**dict1, **dict2}
print("Combined Dictionary (using unpacking):", combined_dict2)

Combined Dictionary (using update()): {'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}
Combined Dictionary (using unpacking): {'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

Q30. Write a code to convert a list of strings into a set.

In [70]:
# Creating a list of strings
my_list = ["apple", "banana", "cherry", "apple", "banana"]

# Converting the list to a set
my_set = set(my_list)

# Printing the set
print("Set:", my_set)

Set: {'apple', 'banana', 'cherry'}